<!--<app-pie-chart></app-pie-chart>-->
<div class="flex flex-row">
<div class="basis-1/2" style="height: 300px; width: 400px">
  <h1>1. Pie chart for vechial currently parked</h1>
  <canvas #pieCanvas style="height:300px; width:400px"></canvas>
  <hr color="red">
</div>
<br/>
<div class="basis-1/2">
  <br/>
  <br/>
  <p>Total Card parked: {{car}}</p>
  <p>Total MicroBus parked: {{microbus}}</p>
  <p>Total Truck parked: {{truck}}</p>
  <h3>Total Empty solot: {{emptySolot}}</h3>
</div>
</div>

<br/>
<br/>
<br/>
<br/>

<div  >
  <h1>2. line chart for parking data</h1>
  <canvas #barCanvas style="height:10vh; width:20vw"></canvas>
  <hr color="red">
</div>

